.AnchorPane {
    -fx-background-image:url('380140021_698754958841842_5137396443856379467_n.png');
}
.menu{
    -fx-background-image:url('380140021_698754958841842_5137396443856379467_n.png');
}
.affichage{
    -fx-background-image:url('386873285_1060549778454795_6779547863380490005_n.png');
}