/* styles.css */

.activity-card {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
}

.card-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.action-button {
    -fx-background-color: #4286f4; /* Blue color */
    -fx-text-fill: white;
}

.action-button:hover {
    -fx-background-color: #3366CC; /* Darker blue color on hover */
}
